@model ReservAntes.Plato
@{
    ViewBag.Title = "CreatePlato";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";

    int idResto = 0;

    if (ViewBag.idResto != null)
    {
        idResto = ViewBag.idResto;
    }
}



<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @{
                if (ViewBag.Guardado != null && ViewBag.Guardado == true)
                {
                    <div class="alert alert-success">
                        Plato creado correctamente
                    </div>
                }
            }
        </div>
    </div>
        <div class="row">
            @using (Html.BeginForm("CreatePlato", "Restaurante", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group col-md-4 col-md-offset-4">
                    @Html.Hidden("RestauranteId", idResto)
                    <div class="form-group">
                        <label>Nombre del Plato:</label>
                        @Html.TextBoxFor(p => p.NombrePlato, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.NombrePlato, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Descripcion:</label>
                        @Html.TextAreaFor(p => p.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Descripcion, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Precio:</label>
                        @Html.TextBoxFor(p => p.Precio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Precio, "", new { @class = "text-danger" })
                    </div>
                    @*     <div class="form-group">
                        <label>Foto:</label>
                        @Html.TextBoxFor(Model => Model.Foto, new { type = "file" })

                    </div>*@
                    <div><input type="submit" value="Crear Plato" class="btn btn-info" /></div>
                </div>

            }
        </div>
</div>





