@model ReservAntes.DatosBancarios
@{
    ViewBag.Title = "DatosBancarios";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}



<div class="jumbotron">
    <h2>Datos Bancarios</h2>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">

            @using (Html.BeginForm("DatosBancarios", "Restaurante"))
            {
                @Html.HiddenFor(u => u.Id)
                <div class="form-group">
                    <label>Numero de Cuenta:</label>
                    @Html.TextBoxFor(Model => Model.NumeroCuenta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.NumeroCuenta, "", new { @class = "text-danger" })


                </div>
                <div class="form-group">
                    <label>CBU:</label>
                    @Html.TextBoxFor(Model => Model.CBU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.CBU, "", new { @class = "text-danger" })

                </div>

                <button type="submit" class="btn btn-primary">Cargar</button>
                <button onclick="location.href='@Url.Action("Index", "Restaurante")';return false;" class="btn btn-danger">Cancelar</button>
            }
        </div>
    </div>
</div>
