@model List<Plato>
@{
    ViewBag.Title = "MisMenues";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}

<div class="container thumbnail">
    <h2>Mi Menu</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-9"></div>
            <button class="col-md-2 btn btn-primary" onclick="location.href='@Url.Action("CreatePlato")'; return false;"><span class="glyphicon glyphicon-plus-sign"></span>  Crear Nuevo Plato</button>
        </div><br />

        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                @{
                    if (TempData["ResultadoEliminarPlato"] != null && TempData["ResultadoEliminarPlato"].ToString() == "si")
                    {
                        <div class="alert alert-success">
                            Plato eliminado
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <!-- <th>Imagen</th> -->
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="table table-hover">
                            @foreach (Plato plat in Model)
                            {
                                <tr>
                                    <!-- <th><img src="@plat.Foto" width="70" /></th> -->
                                    <th>@plat.NombrePlato</th>
                                    <th>@plat.Descripcion</th>
                                    <th>$@plat.Precio</th>
                                    <th><a href="@Url.Action("EditarPlato", "Restaurante", new { idPlato = plat.Id})" class="btn btn-primary">Editar</a></th>
                                    <th><a href="@Url.Action("EliminarPlato", "Restaurante", new { idPlato = plat.Id})" class="btn btn-primary">Eliminar</a></th>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
