@using ReservAntes.ViewModels
@model  RestauranteViewModel
@{
    ViewBag.Title = "RestoPerfil";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}

<h4> Para poder completar el registro debe llenar los siguientes campos:</h4>

<h2>Perfil del Restaurante</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">

            @using (Html.BeginForm("RestoPerfil", "Restaurante"))
            {
                <div class="form-group">
                   <label>Razon Social:</label>
                    @Html.TextBoxFor(Model => Model.RazonSocial, new { @class = "form-control" })  
                </div>
                <div class="form-group">
                    <label>CUIT:</label>
                    @Html.TextBoxFor(Model => Model.CUIT, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Cantidad maxima de clientes:</label>
                    @Html.TextBoxFor(Model => Model.CantClientes, new { @class = "form-control" })
                </div>

                /*Domicilio*/
                <div >
                    <h3>Ingrese datos de domicilio</h3>
                    <div class="form-group">
                        <label>Calle:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio.NombreCalle, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Número:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio.NombreCalle, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Piso:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio.NombreCalle, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Departamento:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio.NombreCalle, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <!--Localidades-->
                        @Html.LabelFor(u => u.Domicilio.Localidad.Id, "Localidades", new { @class = "col-lg-2 control-label" })
                        @Html.DropDownListFor(u => u.domicilio.LocalidadId, new SelectList(Model.domicilio.localidades, "Id", "Descripcion"), "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Domicilio.Localidad.Partido.ProvinciaId)

                    </div>
                    <div layout="row">
                        <div map-lazy-load="https://maps.google.com/maps/api/js">
                            <!-- map-lazy-load-params="{{domicilioCtrl.key}}" flex>-->
                            <ng-map  center="Buenos Aires, Argentina" default-style="true" lazy-init="false" id="domicilioMap" draggable="true">
                                <marker position="" title="Titulo" draggable="true" ></marker>
                            </ng-map>
                        </div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <button onclick="location.href='@Url.Action("Index", "Restaurante")';return false;" class="btn btn-danger">Cancelar</button>
            }
        </div>
    </div>
</div>
