@using ReservAntes.ViewModels
@model  RestauranteViewModel
@{
    ViewBag.Title = "RestoPerfil";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}

<h4> Para poder completar el registro debe llenar los siguientes campos:</h4>

<h2>Perfil del Restaurante</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">

            @using (Html.BeginForm("RestoPerfil", "Restaurante"))
            {
                @Html.HiddenFor(u => u.IdRestaurante)

                <div class="form-group">
                   <label>Razon Social:</label>
                    @Html.TextBoxFor(Model => Model.RazonSocial, new { @class = "form-control" })  
                </div>
                <div class="form-group">
                    <label>Nombre Restaurante:</label>
                    @Html.TextBoxFor(Model => Model.NombreComercial, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>CUIT:</label>
                    @Html.TextBoxFor(Model => Model.CUIT, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Cantidad máxima de clientes:</label>
                    @Html.TextBoxFor(Model => Model.CantidadClientes, new { @class = "form-control" })
                </div>

                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <button onclick="location.href='@Url.Action("Index", "Restaurante")';return false;" class="btn btn-danger">Cancelar</button>
            }
        </div>
    </div>
</div>
