@using ReservAntes.ViewModels

@model  RestauranteViewModel
@{
    ViewBag.Title = "RestoPerfil";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}
<div class="jumbotron">

    <h4> Para poder completar el registro debe llenar los siguientes campos:</h4>

    <hr />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">

            @using (Html.BeginForm("RestoPerfil", "Restaurante", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*@Html.HttpMethodOverride(HttpVerbs.Put)*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.IdRestaurante);


        <div class="form-group">
            <label><b>Nombre Comercial:</b></label>
            @Html.TextBoxFor(Model => Model.NombreComercial, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.NombreComercial, "", new { @class = "text-danger" })


        </div>
        <div class="form-group">
            <label><b>CUIT:</b></label>
            @Html.TextBoxFor(Model => Model.CUIT, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.CUIT, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label><b>Cantidad máxima de clientes:</b></label>
            @Html.TextBoxFor(Model => Model.CantidadClientes, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.CantidadClientes, "", new { @class = "text-danger" })
            <p></p>

        </div>
        <div class="form-group">
            <label><b>Foto:</b></label>
            @Html.TextBoxFor(Model => Model.Foto, new { type = "file" })
            @Html.ValidationMessageFor(p => p.Foto, "", new { @class = "text-danger" })
            <p></p>
        </div>
        <div class="form-group">
            <label><b>Constancia de inscripcion a la AFIP: <em>(*)</em></b></label>
            @Html.TextBoxFor(Model => Model.ConstAFIP, new { type = "file" })
            @Html.ValidationMessageFor(p => p.ConstAFIP, "", new { @class = "text-danger" })<p></p>
            <em class="small">(*)Les pedimos por favor que cargue un archivo de tipo .pdf, </em><br />
            <em class="small">el mismo podra descargarlo desde el siguiente enlace <a href="https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do">Constancia AFIP.</a> </em>


        </div>

        <style>
            #map-canvas {
                width: 300px;
                height: 350px;
                background-color: grey;
                border: solid 1px;
            }
        </style>

        <div style="width:320px; margin:-410px 0 0 500px;">
            <label><b>Direccion:</b></label>
            @Html.TextBoxFor(Model => Model.Domicilio, new { @class = "form-control", id = "direccion" })
            <p></p>
            <span id="geocoding"></span>
            <div id="map-canvas"></div>

        </div>
        <div style="visibility:hidden">
            <label><b>Coordenadas:</b></label>
            <input type="text" id="coordenadas" />

            @Html.TextBoxFor(Model => Model.Latitud, new { @class = "form-control", id = "Latitud" })

            @Html.TextBoxFor(Model => Model.Longitud, new { @class = "form-control", id = "Longitud" })
        </div>

        <p></p>

        <button type="submit" class="btn btn-primary">Ingresar</button>
        <hr style="color:#000000" ; />
}


            <button onclick="location.href='@Url.Action("DatosBancarios", "Restaurante")';return false;" class="btn btn-success pull-right">Cargar Datos Bancarios</button>
            @Html.ValidationSummary(true, "");

        </div>
    </div>
</div>


<script>
    var map;
    var geocoder;
    var infoWindow;
    var marker;

    function iniciarNuevo() {

        var mapOptions = {
            center: new google.maps.LatLng(-34.611170889697334, -58.40778350830078),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        geocoder = new google.maps.Geocoder();
        infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(map, 'click', function (event) {
            geocoder.geocode(
                { 'latLng': event.latLng },
                function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {

                            document.getElementById('direccion').value = results[0].formatted_address;
                            var coord = document.getElementById('coordenadas');
                            coord.value = results[0].geometry.location;    

                            coord.value = coord.value.replace("(", "").replace(")", "");
                           
                            var arrD = coord.value.split(',');
                            document.getElementById('Latitud').value = arrD[0].replace(".",",");
                            document.getElementById('Longitud').value = arrD[1].replace(".", ",");
                            
                            if (marker) {
                                marker.setPosition(event.latLng);
                            } else {
                                marker = new google.maps.Marker({
                                    position: event.latLng,
                                    map: map
                                });
                            }



                            infowindow.setContent(results[0].formatted_address + '<br/> Coordenadas: ' + results[0].geometry.location);
                            infowindow.open(map, marker);
                                

                        } else {
                            document.getElementById('geocoding').innerHTML =
                                'No se encontraron resultados';
                        }
                    } else {
                        document.getElementById('geocoding').innerHTML =
                            'Geocodificación  ha fallado debido a: ' + status;
                    }
                });
        });

    }




</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAptrGun-vHjygAsSermQUGiDvxOGQ_qJ8&libraries=places&callback=iniciarNuevo" async defer></script>
