@model List<Restaurante>
@{
    ViewBag.Title = "Ver restaurantes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-responsive jumbotron">
    <table class="table table-hover">
        <thead class="table-bordered">
            <tr>
                <th>Restaurante</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Estado</th>
                <th>Constacia de AFIP</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var resto in Model)
            {
                String estado = "";
                if (resto.Habilitado) {
                    estado = "Habilitado";
                } else {
                    estado = "NO habilitado";
                }

            <tr>
                <td>@resto.NombreComercial</td>
                <td>@resto.Domicilio</td>

                <td>@estado</td>

                <td>
                  @if (resto.Habilitado)
                  {
            <a href="@Url.Action("SuspenderRestaurante","Admin", new { idResto = resto.IdRestaurante })" class="btn btn-success">Suspender</a>
                    }
                else
                {
                <a href="@Url.Action("HabilitarRestaurante","Admin", new { idResto = resto.IdRestaurante })" class="btn btn-success">Habilitar</a>
                }
                </td>
                <td>

                    @{
                         String base64EncodedPdf = System.Convert.ToBase64String(resto.ConstAFIP);
                    }

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Ver constancia de AFIP
                    </button>

                    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                @*<div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                                <div class="modal-body">
                                    <object data="data:application/pdf;base64,@base64EncodedPdf"
                                            width="870" height="600" type="application/pdf"></object>
                                </div>
                            </div>
                        </div>
                    </div>






                </td>

            </tr>
                        }
        </tbody>
    </table>
</div>