@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //redireccion por permisos
    if (Session["usuarioTipo"] == null || Session["usuarioTipo"].ToString() != "3")
    {
        Response.Redirect("/Home/Index/");
    }

    <!-- menu principal -->
    if (Session["usuarioTipo"] == null)
    {
        @Html.Partial("~/Views/Shared/_NavegacionVisitante.cshtml")
    }
    else if (Session["usuarioTipo"].ToString() == "1")
    {
        @Html.Partial("~/Views/Shared/_NavegacionAdmin.cshtml")
    }
    else if (Session["usuarioTipo"].ToString() == "2")
    {
        @Html.Partial("~/Views/Shared/_NavegacionCliente.cshtml")
    }
    else if (Session["usuarioTipo"].ToString() == "3")
    {
        @Html.Partial("~/Views/Shared/_NavegacionRestaurante.cshtml")
    }
}

    <br />
<br />

<div class="container alturaMinimaDeSecciones">
    @RenderBody()
</div>

@RenderSection("scripts", false)
