
@{
    ViewBag.Title = "_LayoutAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ReservAntes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @if (Session["usuarioTipo"].ToString() == String.Empty)
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Login") </li>
                    <li>@Html.ActionLink("Registrarse", "CreateUser", "Usuario")</li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav">
                    @switch (Session["usuarioTipo"])
                    {
                        case 1:
                            <li>@Html.ActionLink("Administrar app", "Index", "Administrador") </li>
                            break;

                        case 2:
                            <li>@Html.ActionLink("Administrar cliente", "Index", "Cliente") </li>
                            break;

                        case 3:
                            <li>@Html.ActionLink("Administrar restaurante", "Index", "Restaurante") </li>
                            break;
                    }

                    <li>@Html.ActionLink("Cerrar sesión", "Logout", "Login") </li>
                </ul>
                

        </div>
    </div>
</div>

