
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/GoogleMaps.js" type="text/javascript"></script>

    <link rel="icon" type="image/png" href="~/Imagenes/icono.png" />

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

</head>
<body style="background-color:#fa2a2a">
        @RenderBody()
                    
                    <footer>
                        <div class="container">
                            <hr />
                            <div class="col-xs-12">
                                <h6>Al continuar a la siguiente página, usted está de acuerdo con nuestra Términos de Servicio, Política de Cookie, Política de Privacidad y Políticas de Contenido. Todas las marcas son propiedad de sus respectivos dueños. © 2017 - ReservAntes™</h6>

                            </div>
                            <hr />

                        </div>
                    </footer>
               
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
