
@{
    ViewBag.Title = "ReservAntes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-default" id="menuPrincipal">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mibarrita">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href='@Url.Action("Index", "Home")' >
                <img src="~/Imagenes/Logo.png" alt="Reservantes" class="img-responsive"/>
            </a>
          </div>

        <div class="collapse navbar-collapse" id="mibarrita">
            <ul class="nav navbar-nav hidden-xs hidden-sm hidden-md">
                <li class="slogan">
                    <em>No esperes la comida, la comida te espera a vos</em>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                <li>@Html.ActionLink("Registrarse", "CreateUser", "Usuario")</li>
                <li>@Html.ActionLink("Login", "Login", "Login")</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container alturaMinimaDeSecciones">
    <br />
    @RenderBody()
</div>

@RenderSection("scripts", false)


