
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["usuarioTipo"] == null || Session["usuarioTipo"].ToString() != "1")
{
    Response.Redirect("/Home/Index/");
}

<!-- menu principal -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">ReservAntes</a>
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Admin")</li>
            <li>@Html.ActionLink("About", "About", "Admin")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Admin")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a>@Session["usuarioNombre"]</a></li>
            <li>@Html.ActionLink("Salir", "Logout", "Login")</li>
        </ul>
    </div>
</nav>

<!-- menu de admin -->
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-th"></span>
                <button onclick="location.href='@Url.Action("Index","Admin")'; return false;" class="btn btn-default">Inicio</button>
                <button onclick="location.href='@Url.Action("VerRestaurantes","Admin")'; return false;" class="btn btn-default">Ver restaurantes</button>
            </div>
        </div>
    </div>
</div>


@RenderBody()
