
@{
    ViewBag.Title = "ReservAntes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-default" id="menuPrincipal">
    <div class="container">
        <div class="navbar-header col-xs-12 col-sm-offset-1 col-sm-3">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mibarrita">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a onclick="location.href='@Url.Action("Index", "Home")';return false;" >
                <img src="~/Imagenes/Logo.jpg" alt="Reservantes" class="img-responsive"/>
            </a>
        </div>
        <div class="collapse navbar-collapse col-xs-12 col-sm-8 pull-right" id="mibarrita">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@*<span class="glyphicon glyphicon-user"></span>*@@Html.ActionLink("Registrarse", "CreateUser", "Usuario")</li>
                <li>@*<span class="glyphicon glyphicon-log-in"></span>*@@Html.ActionLink("Login", "Login", "Login")</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>

@RenderSection("scripts", false)


