
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["usuarioTipo"] == null || Session["usuarioTipo"].ToString() != "1")
{
    Response.Redirect("/Home/Index/");
}
<!-- menu principal -->
<nav class="navbar navbar-default" id="menuPrincipal">
    <div class="container">
        <div class="navbar-header col-xs-12 col-sm-offset-1 col-sm-3">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mibarrita">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a onclick="location.href='@Url.Action("Index", "Admin")';return false;">
                <img src="~/Imagenes/Logo.jpg" alt="Reservantes" class="img-responsive" />
            </a>
        </div>
        <div class="collapse navbar-collapse col-xs-12 col-sm-8 pull-right" id="mibarrita">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Admin")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>@Session["usuarioNombre"]</a></li>
                <li>@Html.ActionLink("Salir", "Logout", "Login")</li>
            </ul>
        </div>
    </div>
</nav>
<!-- menu de admin -->
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-th"></span>
                <button onclick="location.href='@Url.Action("Index","Admin")'; return false;" class="btn btn-default">Inicio</button>
                <button onclick="location.href='@Url.Action("VerRestaurantes","Admin")'; return false;" class="btn btn-default">Ver Restaurantes</button>
                <button onclick="location.href='@Url.Action("VerClientes","Admin")'; return false;" class="btn btn-default">Ver Clientes</button>
                <button onclick="location.href='@Url.Action("VerUsuarios","Admin")'; return false;" class="btn btn-default">Ver Usuarios</button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    @RenderBody()
</div>
