
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">ReservAntes</a>
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><span class="glyphicon glyphicon-user">@Html.ActionLink("Registrarse", "CreateUser", "Usuario")</span></li>
            <li><span class="glyphicon glyphicon - log -in">@Html.ActionLink("Login", "Login", "Login")</span> </li>
        </ul>
    </div>
</nav>

@RenderBody()


