
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/Imagenes/icono.png" />

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

</head>
<body>
        @RenderBody()
                    
                    <footer>
                        <div class="container">
                            <div class="col-xs-12 col-sm-4">
                                <h3>Inicio</h3>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h3>ReservAntes</h3>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h3>2017</h3>
                            </div>
                        </div>
                        
                    </footer>
               
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
