
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-th"></span>
                <button onclick="location.href='@Url.Action("Index","Restaurante")'; return false;" class="btn btn-default">Inicio</button>
                <button onclick="location.href='@Url.Action("DetalleRestaurante","Restaurante")'; return false;" class="btn btn-default">Mi Restoran</button>
                <button onclick="location.href='@Url.Action("Reservas","Restaurante")'; return false;" class="btn btn-default">Reservas</button>
                <button onclick="location.href='@Url.Action("Reporte","Restaurante")'; return false;" class="btn btn-default">Reporte</button>
                <button onclick="location.href='@Url.Action("MiMenu","Restaurante")'; return false;" class="btn btn-default">Ver mi Menu</button>
            </div>
        </div>
    </div>
</div>