@model ReservAntes.Cliente
@{
    ViewBag.Title = "CompletarCliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div>
    <div class="jumbotron">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Email
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @Model.Usuario.Username
                        </td>
                        <td>
                            @Model.Nombre
                        </td>
                        <td>
                            @Model.Apellido
                        </td>
                        <td>
                            @Model.Usuario.Email
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <h4 class="breadcrumb">Complete y/o edite sus datos:</h4>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">

                @using (Html.BeginForm("DetalleCliente", "Cliente"))
            {
                    @Html.Hidden("IdUsuario", Model.IdUsuario)

                    <div class="form-group">
                        <label>Nombres :</label>
                        @Html.TextBoxFor(Model => Model.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Nombre, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">
                        <label>Apellido:</label>
                        @Html.TextBoxFor(Model => Model.Apellido, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Apellido, "", new { @class = "text-danger" })


                    </div>
                    @*<div class="form-group">
                        <label>Domicilio:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio, new { @class = "form-control" })
                    </div>*@


                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-danger">Cancelar</button>
                }
            </div>
        </div>
    </div>


</div>