@using ReservAntes.ViewModels
@model List<RestauranteViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


@*<h2>Index</h2>*@

<h4 class="breadcrumb">Restaurantes disponibles cerca tuyo</h4>


<body onload="inicialar()">

    <style>
        #map-canvas {
            width: 100%;
            height: 400px;
            background-color: grey;
            border: solid 1px;
        }
    </style>

    <div class="jumbotron">


        <input id="pac-input" class="form-control" type="text" placeholder="Buscar Restaurante por direccion">

        <br />                      

        <div class="row">
            <div id="map-canvas"></div>
        </div>

    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAptrGun-vHjygAsSermQUGiDvxOGQ_qJ8&libraries=places&callback=inicialar" async defer> </script>
</body>

@*<div class="table-responsive thumbnail">

    <table class="table">
        <thead>
            <tr>
                <td>Establecimiento</td>
                <td>Ciudad</td>
                <td>Dirección</td>
                <td>Ver Menú</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var resto in Model)
            {
                <tr>
                    <td>@resto.NombreComercial</td>
                    <td>@resto.domicilio.localidadDescripcion</td>
                    <td>@resto.domicilio.NombreCalle @resto.domicilio.NumeroCalle</td>
                    <td><a href="@Url.Action("ListaPlatos", "Cliente", new {idResto = resto.IdRestaurante })" class="btn btn-info btn-xs">Ver Menú</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>*@