@using ReservAntes.ViewModels
@model List<RestauranteViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


@*<h2>Index</h2>*@

<h4>Restaurantes disponibles</h4>
<div class="table-responsive thumbnail">

    <table class="table">
        <thead>
            <tr>
                <td>Establecimiento</td>
                <td>Ciudad</td>
                <td>Dirección</td>
                <td>Ver Menú</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var resto in Model)
            {
                <tr>
                    <td>@resto.NombreComercial</td>
                    <td>@resto.domicilio.localidadDescripcion</td>
                    <td>@resto.domicilio.NombreCalle @resto.domicilio.NumeroCalle</td>
                    <td><a href="@Url.Action("ListaPlatos", "Cliente", new {idResto = resto.IdRestaurante })" class="btn btn-info btn-xs">Ver Menú</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>