
@model  Restaurante
@{
    ViewBag.Title = "Platos";
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="jumbotron">
    <h2>@Model.NombreComercial</h2>
    @Model.Domicilio <p></p>
</div>
<h4 class="thumbnail text-center">Menú</h4>
<div class=" thumbnail">
    @*@using (Html.BeginForm("Reservar", "Cliente", new (idResto =)
        {*@
    @Html.HiddenFor(u => u.IdRestaurante)

    <table class="table table-hover">
        <thead class="table-bordered">
            <tr>
                <td>Plato</td>
                <td>Precio</td>
            </tr>

        <thead />
        <tbody class="table-hover">
            @foreach (var plato in Model.Plato)
            {
                <tr class="table-bordered">
                    <td>@plato.NombrePlato</td>
                    <td>$@plato.Precio</td>
                </tr>
            }


        </tbody>
    </table>

    @*@2 es cliente *@
    @if (Session["usuarioTipo"] != null && Session["usuarioTipo"].ToString() == "2")
    {
        @Html.ActionLink("Reservar", "ReservaHora", "Cliente", new { idResto = Model.IdRestaurante }, new { @class = "btn btn-default btn-success btn-lg btn-block" })
    }

    @*<button type="submit" class="btn btn-primary">Reservar</button>*@
    @*<button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-danger">Cancelar</button>*@

    </div>