@using ReservAntes.ViewModels
@model  RestauranteViewModel
@{
    ViewBag.Title = "Platos";
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2 class="thumbnail">@Model.NombreComercial</h2>
<h4>Menú</h4>
<div class="table-responsive">
    @*@using (Html.BeginForm("Reservar", "Cliente", new (idResto =)
        {*@
    @Html.HiddenFor(u => u.IdRestaurante)

    <table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Precio</td>
            </tr>

        <thead />
        <tbody>
            @foreach (var plato in Model.listadoPlatos)
            {
                <tr>
                    <td>@plato.NombrePlato</td>
                    <td>$@plato.Precio</td>
                </tr>
            }


        </tbody>
    </table>
    @Html.ActionLink("Reservar", "Reserva", "Cliente", new { idResto = Model.IdRestaurante }, new { @class = "btn btn-default btn-success btn-lg btn-block" })
    @*<button type="submit" class="btn btn-primary">Reservar</button>*@
    <button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-danger">Cancelar</button>
    
</div>