@using ReservAntes.ViewModels
@model  ReservaViewModel
@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    int indexPlatos = 0;

}

<h2 class="thumbnail text-center">Reservar en <b>@Model.restauranteNombre</b></h2>


@if (Model.platosElegidosVm==null)
{
    using (Html.BeginForm("Reserva", "Cliente", FormMethod.Post, new { reserva = @Model }))
    {
        @Html.HiddenFor(u => u.RestauranteId)
        @Html.HiddenFor(u => u.FechaHoraReserva)
        @Html.HiddenFor(u => u.CantidadComensales)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="table-responsive thumbnail">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td>Cantidad</td>
                    </tr>

                <thead />
                <tbody>

                    @foreach (var plato in Model.platos)
                    {
                        <tr>
                            <td>@plato.NombrePlato</td>
                            <td>$@plato.Precio</td>
                            <td>
                                @Html.DropDownListFor(u => u.PlatoCantidad[indexPlatos], new SelectList(plato.cantidadPlatos), "Cantidad", new { @class = "form-control" })
                                <input type="hidden" value="@plato.Id" name="PlatoId[@indexPlatos]" />
                                @Html.HiddenFor(m => plato.Id)
                            </td>
                        </tr>
                        indexPlatos++;
                    }

                </tbody>
            </table>
        </div>
        <br />

        @*@Html.ActionLink("Reservar", "PlatosElegidos", "Cliente", new { @reserva = @Model }, new { @class = "btn btn-default btn-success btn-lg btn-block" })*@
        <div class="jumbotron"><button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span>  Seleccionar platos</button></div>

            }
}
@*@if (Model != null && Model.platosElegidosVm != null && Model.platosElegidosVm.Count > 0)

{
   
}*@



@*<a href="<% Response.Write(preference[" response"]["init_point"]); %>">Pagar</a>*@

