@using System.Globalization
@model List<Reserva>
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";

    ViewBag.Title = "ReservaCliente";
}
<div class="thumbnail">
    <h2 class="text-center">Mis reservas</h2><br />


    <div class="table-responsive">
        <table class="table-bordered table-striped table-condensed" style="width: 100%;">
            <thead>
                <tr>
                    <th>Restaurante</th>
                    <th>Fecha y hora</th>
                    <th>Código</th>
                    <th>Comensales</th>
                    <th>Estado de la Reserva</th>
                    <th>Opciones</th>

                </tr>
            </thead>

            <tbody>
                @foreach (Reserva reserva in Model)
                {
                <tr>
                    <td>
                        @reserva.Restaurante.NombreComercial
                    </td>
                    <td>
                        @reserva.FechaHoraReserva.ToLongDateString() a las @reserva.FechaHoraReserva.ToShortTimeString()
                    </td>
                    <td>
                        <h3><b>  @reserva.CodigoReserva</b></h3>
                    </td>
                    <td>
                        @reserva.CantidadComensales
                    </td>
                    <td>
                        @reserva.EstadoReserva.Descripcion
                    </td>
                    <td>
                        @{
                            if (reserva.EstadoReserva.Descripcion == "Reservado" || reserva.EstadoReserva.Descripcion == "Aceptado")
                            {
                                <a href="@reserva.LinkMP" class="btn btn-default">Pagar</a>
                            }
                        }
                        
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
