@model ReservAntes.Usuario

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container alturaMinimaDeSecciones" id="contenedorLogin">
    <div class="row">
        <div class="col-md-4"></div>
        @using (Html.BeginForm("CreateUser", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group col-md-4">

                <div class="form-group">
                    <label>Nombre de Usuario:</label>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Contraseña:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Repita Contraseña:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Tipo de Usuario:</label>
                    @Html.DropDownList("TipoUsuarioId", new SelectList(ViewBag.ListUsuario, "Id", "Descripcion"), new { @class = "form-control" })

                </div>


                <p></p>
                <div id=""><input type="submit" value="Registrarse" class="btn btn-info" /></div>
            </div>
        }
    </div>
</div>
